*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior:inherit;
    
}
*::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(210, 227, 255);
	
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(210, 227, 255);
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/ethan-shi-h0SCuYQc1NY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav img, footer img{
        width: 100px;
        height: 100px;
}
nav a{
    text-decoration: none;
}
.logo-name{
    position: absolute;
    left: 12%;
    top: 8%;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    /* color: rgb(45, 129, 255); */
}
nav{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    transition: 0.9s;
}
.nav-links ul li:hover{
    transform:scale(1.2);
}
.nav-links ul li a{
    color: white;
    font: 14px;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(210, 227, 255);
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.btn-1{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 12px;
    padding: 12px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.9s;
}
.btn-1:hover{
    border: 1px solid rgb(28,58,148);
    background: rgb(28,58,148);
    transform:scale(1.2);
    
}
nav .fa{
    display: none;
}
/* .active::after{
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(45, 129, 255);
    display: block;
    margin: auto;
} */
.active-underline{
    width: 65%;
    height: 2px;
    background: transparent;
    border-radius: 2px;
    position: absolute;
    overflow: hidden;
}
.active-underline span{
    width: 15px;
    height: 100%;
    background: rgb(210, 227, 255);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite ;
}
@media (max-width:700px) {
    .text-box h1{
        font-size: 60px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: rgb(28,58,148);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.3s;
    }
    nav .fa{
        display: block;
        color: antiquewhite;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;

    }
    .nav-links ul{
        padding:35px; 
    }
    nav img{
        width: 70px;
        height: 70px;
}
    .logo-name{
        font-size: 1.25rem;
        top: 4%;
        left: 20%;
    }
}

/* course */
#courses, #facilities{
    background-color: rgb(240, 240, 240);
    
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background:rgb(210, 227, 255);
    border-radius: 5px;
    border: 1px solid rgb(28,58,148) ;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.9s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}
.course-col:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2 );
    cursor: pointer;
    transform: scale(1.1);
}
@media(max-width:700px) {
    .row{
        flex-direction: column;
    }
}

/* campus */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.campus-col{
    flex-basis: 32%;
    border-radius: 5%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.layer:hover{
    background: rgba(266, 0, 0, 0.5 );
    cursor: pointer;

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}
.layer:hover h3{
    bottom: 40%;
    opacity: 1;

}


/* facilities */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}
.facilities-col img{
    width: 100%;
    height: 75%;
    border-radius: 5px;
    transition: 0.9s;
}
.facilities-col img:hover{
    transform:scale(1.1);
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/* testimonials */
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonial-col{
    flex-basis: 26%;
    border-radius: 5px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(210, 227, 255);
    padding: 20px;
    cursor: pointer;
    display: flex;
    transition:0.9s;
    border: 1px solid rgb(28,58,148);
}
.testimonial-col img{
    height: 35px;
    width: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    transition: 0.9s;
}
.testimonial-col:hover{
    transform:scale(1.1);
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: red;
}
@media (max-width:700px) {
    .testimonial-col img{
        
        margin-left: 0px;
        margin-right: 15px;
        
    }
}
/* contact */
.contact{
    margin: 100px auto;
    width: 80%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size:contain;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;   
}
@media (max-width:700px) {
    .contact h1{
        font-size: 25px;
    }
}
/* footer */
.footer{
    box-sizing: border-box;  
}
footer{

    width: 100%;
    position: relative fixed;
    bottom: 0;
    background: rgb(210, 227, 255);
    color:rgb(28,58,148);
    padding: 10px 0 10px;
    font-size: 12px;
    line-height: 20px;
    border-top: 1px solid rgb(28,58,148);
}
.f-row{
     width: 85%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
}
.f-col{
    flex-basis: 25%;
   
}
.f-col:nth-child(2), .f-col:nth-child(3){
    flex-basis: 20%;
}
.f-logo{
    position: relative;
    width: 80px;
    left: 50px;

}
.f-col p{
    color: rgb(28,58,148);
    font-weight: inherit;
    text-align: justify;
}
.f-col p:hover{
    text-decoration: underline;
}
.office p{
    line-height: 8px;
}

.f-col h3{
    padding-top: 15px;
    width: auto;
    margin-bottom: 15px;
    position: relative;
    font-size:large;

}
.p, .f-col h2{
    margin-left: 12px ;
}
.f-col .fa{
    margin-right:5px;
    cursor: pointer;
}

.f-col ul li {
    list-style: none;
    margin-bottom: 12px;
    font-size: medium;
    transition: 0.9s;
    text-align: center;
    transition: 0.9s;
    
}
.f-col ul li:hover{
    transform: scale(1.2);
    text-decoration: underline;
}
.links, .f-col a{
    text-decoration: none;
    color: rgb(28,58,148);
}

footer form{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(28,58,148);
    margin-bottom: 30px;
}
form .fa{
    font-size: 20px;
}
form input{
    width: 100%;
    background: transparent;
    color: rgb(28,58,148);
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa{
    font-size: 16px;
    color: rgb(28,58,148);
    transition: 0.9s;
}
.social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    background: rgb(28,58,148);
    margin-right: 15px;
    cursor: pointer;
    transition: 0.9s;

}
.social-icons .fa:hover, .fa-arrow-right:hover{
    transform: scale(1.2);
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid rgb(28,58,148);
    margin: 0px auto;
}
.copyright{
    text-align: center;
    color: rgb(28,58,148);
    font-size:medium;
}
.underline{
    width: 30%;
    height: 2px;
    background: transparent;
    border-radius: 2px;
    position: absolute;
    top: 35px;
    left: 35%;
    overflow: hidden;
}
.underline span{
    width: 10px;
    height: 100%;
    background: rgb(28,58,148);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite ;
}
@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
    
}
@media (max-width:700px) {
    footer{
        bottom: unset;
    }
    .f-col{
        flex-basis: 100%;

    }
    .f-col:nth-child(2), .f-col:nth-child(3){
        flex-basis: 100%;
    }
}

/* About-Us Page */
.sub-header{
    height: 50vh;
    width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/img/ethan-shi-h0SCuYQc1NY-unsplash.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: white;
}
.sub-header h1{
    margin-top: 80px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom:50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
    border-radius: 10px;
    transition: 1s;
}
.about-col img:hover{
    transform:scale(1.1);
    

}
.about-col h1{
    padding-top: 0px;
}
.about-col p{
    padding: 15px 0px 25px;
    text-align: justify;
}
.blue-btn{
    border: 1px solid rgb(28,58,148);
    background: transparent;
    color:rgb(28,58,148);
}
.blue-btn:hover{
    color: white;
}

/* Blog-content */
.blog-content{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.blog-left{
    flex-basis: 65%;

}
.blog-left img{
    width: 100%;
    border-radius: 10px;
}
.blog-left h2{
    color:black;
    font-weight: 700;
    margin: 18px 0;
}
.blog-left p{
    color:darkslategrey;
    padding: 0px;
    text-align: justify;
}
.blog-right{
    flex-basis: 30%;


}
.blog-right h3{
    background-color:rgb(28,58,148);
    color: white;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 22px;
    border-radius: 10px;

}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

/* comment-box */
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 10px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px solid rgb(28,58,148);
    border-radius: 10px;
    outline: none;
    background:rgb(210, 227, 255);


}
.comment-form button{
    margin: 10px 0;
    border-radius: 10px;
}

@media (max-width:700px) {
    .sub-header h1{
        font-size: 25px;
    }
    
}

/* contact-us */
.location{
    width: 80%;
    margin: auto;
    padding:80px 0;
}
iframe{
    width: 100%;
    border-radius: 10px;
    
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: rgb(28,58,148);
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0px;
}
.contact-col div a{
    text-decoration: none;
}
.contact-col div a:visited{
    text-decoration: none;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:black;
    font-weight: 500;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid rgb(28,58,148);
    border-radius: 10px;
    box-sizing: border-box;
}